@import '../../variables';

.stepper{
    width: calc(50% - 15px);
    margin-top: 30px;
    padding: 15px 0px 20px 20px;
    background-color: #fff;

    @media(max-width: 900px){
        width: 100%;
        margin-top: 20px;
    }
}

.stepper-header{

    .lable{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: bold;
        color: $font_dark_gray;

        @media(max-width: 1200px){
            font-size: 12px;
        }
    }

    .actions{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

       
    }
}

.stepper-content{
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(75px);
        width: 4px;
        border-radius: 2px;
        background-color: $borde_gray_main;

        @media(max-width: 1200px){
            left: 61px;
        }
    }

    .step{
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 7px;

        &:last-child{
            padding-bottom: 20px;
        }
        
        @media(max-width: 900px){
            padding-top: 15px;
        }

        .subtitle{
            position: relative;
            font-size: 14px;
            color: $font_white_gray;
            
            @media(max-width: 900px){
                font-size: 12px;
            }

            &:after{
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: calc(100% + 18px);
                background-image: url('../../assets/step.svg');
                z-index: 10;
                background-size: cover;

                @media(max-width: 1200px){
                    left: calc(100% + 12px);
                }

                @media(max-width: 900px){
                    width: 17px;
                    height: 17px;
                }
            }
        }

        .step-details{
            width: calc(100% - 50px);
            padding-left: 48px;

            @media(max-width: 1200px){
                padding-left: 38px;
            }

            .v-expansion-panel::before{
                display: none;
            }

            .v-expansion-panel-header{
                min-height: 21px;
                padding: 0!important;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                color: $font_dark_gray;

                @media(max-width: 900px){
                    font-size: 12px;
                }
                
                .v-expansion-panel-header__icon{
                    margin-left: 5px!important;
                }
            }

            .v-expansion-panel-content__wrap{
                padding: 0;
            }

            .single-text{
                margin-top: 10px;
                margin-bottom: 0;
                font-size: 12px;
                line-height: 18px;
                color: $font_dark_gray;

                @media(max-width: 900px){
                    font-size: 10px;
                }
            }

            .step-info{
                .step-info__item{
                    display: flex;
                    align-items: flex-start;
                    padding-top: 8px;

                    .tip{
                        display: inline-block;
                        margin-top: 10px;
                        margin-right: 9px;
                        padding: 1.5px 8px 1.5px;
                        font-size: 10px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $bg_white_light;
                        border-radius: 3px;

                        @media(max-width: 900px){
                            font-size: 8px;
                            margin-top: 0;
                        }

                        &.blue{
                            background-color: $primary_blue!important;
                        }

                        &.yellow{
                            background-color: $primary_yellow!important;
                            color: $font_dark_gray;
                        }

                        &.green{
                            background-color: $primary_green!important;
                        }

                        & + span{
                            font-size: 12px;
                            color: $font_dark_gray;
                        }
                    }
                    
                }
            }
        }
    }
}