@import '../../variables';

.navbar{
    width: 280px;
    padding: 14px 25px 30px;
    background-color: $bg_white_light;

    .user{
        display: none;

        @media(max-width: 768px){
            display: flex!important;
            align-items: center;
            margin-bottom: 20px;
            
            @media(max-width: 1300px){
                margin-right: 20px;
            }

            @media(max-width: 768px){
                display: none;
            }

            .avatar img{
                width: 40px;
                height: 40px;
                object-fit: cover;
            }

            .info{
                margin-left: 10px;

                .name{
                    min-width: 106px;
                    position: relative;
                    font-size: 14px;
                    font-weight: bold;
                    color: $font_dark_gray;

                    &:after{
                        content: '';
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        top: 3px;
                        right: -4px;
                        background-image: url('../../assets/menu-arro-down.svg');
                    }
                }

                .role{
                    font-size: 14px;
                    font-weight: normal;
                    color: $font_dark_gray;
                }
            }
        }
    }

    @media(max-width: 1300px){
        height: 100vh;
        position: fixed;
        left: -400px;
        top: 0;
        transition: .3s;
        z-index: 90;
    }

    &.opened{
        @media(max-width: 1300px){
            left: 0;
        }
    }

    .section{
        padding-bottom: 20px;
    }

    .section-label{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary_blue;
    }

    .nav-list{
        padding-left: 10px;

        .nav-item{
            display: block;
            margin-top: 14.5px;

            &.disabled{
                cursor: pointer;
                opacity: .5;
            }

            img{
                width: 22px;
                height: 22px;
                vertical-align: middle;
            }

            span{
                margin-left: 12px;
                vertical-align: middle;
                color: $font_dark_gray;
                font-size: 14px;
                font-weight: normal;
            }

            &.router-link-active{
                span{
                    color: $primary_dark_blue;
                    font-weight: bold;
                }
            }
        }
    }
}