@import '../../variables';

.navbar{
    width: 280px;
    padding: 14px 25px 30px;
    background-color: $bg_white_light;

    @media(max-width: 1300px){
        height: 100vh;
        position: fixed;
        left: -400px;
        top: 0;
        transition: .3s;
        z-index: 90;
    }

    &.opened{
        @media(max-width: 1300px){
            left: 0;
        }
    }

    .section{
        padding-bottom: 20px;
    }

    .section-label{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary_blue;
    }

    .nav-list{
        padding-left: 10px;

        .nav-item{
            display: block;
            margin-top: 14.5px;

            img{
                width: 22px;
                height: 22px;
                vertical-align: middle;
            }

            span{
                margin-left: 12px;
                vertical-align: middle;
                color: $font_dark_gray;
                font-size: 14px;
                font-weight: normal;
            }

            &.router-link-active{
                span{
                    color: $primary_dark_blue;
                    font-weight: bold;
                }
            }
        }
    }
}