@import '../../variables';

.stats{
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
    @media(max-width: 1200px){
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }

    .item{
        display: flex;
        align-items: center;
        width: calc(33.33% - 19px);
        min-height: 130px;
        position: relative;
        margin-top: 30px;
        padding: 17px 15px;
        border-radius: 3px;
        background-color: $bg_white_light;
        
        @media(max-width: 1200px){
            min-width: 335px;
            min-height: 106px;
            margin: 20px 10px 0;
            padding: 12px 14px;
        }

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 3px;
            background-color: $primary_blue;

            @media(max-width: 1200px){
                width: 40px;
                height: 40px;
            }

            img{
                width: auto;
                height: 23px;
            }
        }
    
        .details{
            margin-left: 15px;

            .name{
                font-size: 14px;
                font-weight: normal;
                color: $font_light_gray;

                @media(max-width: 1200px){
                    font-size: 12px;
                }
            }
    
            .value{
                font-size: 42px;
                font-weight: bold;
                line-height: 51px;
                color: $font_light_gray;

                @media(max-width: 1200px){
                    font-size: 34px;
                    line-height: 40px;
                }
            }
    
            .compare{
                img{
                    width: 9px;   
                }

                span{
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: normal;

                    @media(max-width: 1200px){
                        font-size: 12px;
                    }
                }

                &.green-color{
                    span{
                        color: $primary_green;
                    }
                }

                &.red-color{
                    span{
                        color: $primary_red;
                    }
                }

                &.yellow-color{
                    img{
                        width: 10px;
                    }

                    span{
                        color: $primary_yellow;
                    }
                }
            }
        }

        .more{
            width: 12px;
            position: absolute;
            top: 20px;
            right: 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            
            @media(max-width: 1200px){
                top: 14px
            }

            img{
                width: 12px;
            }
        }
    }
}

.managment-stats{
    @media(max-width: 768px){
        display: none;
    }
}