@import "../../variables";

.date-table-wrap{
    overflow-x: auto;
}

.data-table{
    margin-top: 30px;
    padding: 0 20px;
    border-radius: 3px;
    background-color: $bg_white_light;

    @media(max-width: 1200px){
        padding: 0 15px;
        min-width: 1058px;
        margin-top: 20px;
    }

    .table-header{
        padding: 14px 0 0;

        @media(max-width: 1200px){
            padding-top: 12px;
        }

        .lable{
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: bold;
            color: $font_dark_gray;

            @media(max-width: 1200px){
                font-size: 12px;
                margin-bottom: 10px;
            }
        }

        .actions{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            @media(max-width: 1200px){
                margin-bottom: 10px;
            }

            .buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                input{
                    width: 250px;
                    height: 29px;
                    padding-left: 8px;
                    margin-left: 25px;
                    margin-right: 4px;
                    line-height: 14px;
                    font-size: 14px;
                    border-radius: 3px;
                    border: solid 1px $border_grey_dark;
                }
            }

            .btn{
                display: flex;
                align-items: center;
            }
        }
    }

    .table-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        
        @media(max-width: 1200px) {
            padding: 7px 0 10px;
        }

        .pagination-info{
            p{
                font-size: 14px;
                font-weight: normal;
                color: $font_dark_gray;

                @media(max-width: 1200px) {
                    font-size: 12px;
                }
            }
        }

        .pages{
            height: 34px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $border_gray_light;

            .btn{
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0 13px;
                font-size: 14px;
                font-weight: normal;
                color: $font_dark_gray;
                opacity: .6;
                cursor: pointer;
            }

            .page-count{
                width: 34px;
                height: 100%;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: normal;
                color: $primary_dark_blue;
                border-right: 1px solid $border_gray_light;
                cursor: pointer;
                
                &:nth-child(2){
                    border-left: 1px solid $border_gray_light;
                }

                &.active{
                    background-color: $primary_dark_blue;
                    color: $bg_white_light;
                }
                
                &.disabled{
                    opacity: .6;
                }
            }
        }
    }

    .custom-checkbox{
        display: inline-block;
        height: 16px;
        position: relative;
        top: 2px;
    }

    table{
        width: 100%;
        border: 2px solid $borde_gray_main;

        thead{
            tr{
                th{
                    text-align: left;
                    font-size: 14px;
                    font-weight: bold;
                    color: $font_dark_gray;

                    @media(max-width: 1200px) {
                        font-size: 12px;   
                    }

                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .sort{
                            span{
                                margin: 0 6px;
                                cursor: pointer;
                            }

                            img{
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }

        tbody{
            tr{
                background-color: #fff;
                
                &:nth-child(odd){
                    background-color: $bg_gray_light;
                }
                
                &:last-child{
                    td{
                        border-bottom: 2px solid $borde_gray_main;
                    }
                }

                td{
                    border-top: solid 1px $borde_gray_main;
                    
                    &:last-child{
                        p:first-child{
                            line-height: 14px;
                        }
                    }

                    p{
                        font-size: 14px;
                        font-weight: normal;
                        color: $font_dark_gray;

                        @media(max-width: 1200px) {
                            font-size: 12px;        
                        }
                    }

                    p:first-child{
                        line-height: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;

                        @media(max-width: 1200px) {
                            font-size: 12px;
                        }
                    }
                    
                    & > .status{
                        position: relative;
                        top: -2px;
                    }

                    .stock, .status{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    
                        .stock-info{
                            p{
                                font-size: 14px;
                            }

                            .status{
                                display: inline-block;
                                padding: 2px 8px;
                                border-radius: 3px;
                                font-size: 10px;
                                text-transform: uppercase;

                                &.active{
                                    background-color: $primary_green;
                                    color: $bg_white_light;
                                }
    
                                &.pulled, &.cancelling{
                                    background-color: $primary_yellow;
                                    color: $font_dark_gray;
                                }

                                &.lifetime{
                                    background-color: $primary_dark_blue;
                                    color: $bg_white_light;
                                }
    
                                &.cancelled{
                                    background-color: $primary_red;
                                    color: $bg_white_light;
                                }
                            }
                        }
    
                        .stock-value{
                            position: relative;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            span{
                                position: absolute;
                                top: 15px;
                                left: 50%;
                                transform: translateX(-50%);
                                font-size: 9px;
                                font-weight: bold;
                                color: $font_dark_gray;
                            }

                            svg{
                                width: 40px;

                                text{
                                    display: none;
                                }

                                circle{
                                    stroke: $circle_gray;
                                }
                            }
                        }
                    }
                    
                    .status .stock-info span{
                        display: block;
                        font-size: 14px;
                        color: $font_dark_gray;
                    }

                    .product{
                        display: flex;
                        align-items: center;

                        .product-logo{
                            display: flex;
                            align-items: center;
                            margin-right: 15px;

                            img{
                                width: 38px;
                                height: 38px;

                                @media(max-width: 1200px){
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }

        th, td{
            border-right: solid 1px $borde_gray_main;

            &:first-child{
                padding: 0;
                width: 46px;
                text-align: center; 
                vertical-align: middle;

                @media(max-width: 1200px){
                    width: 38px;
                }
            }

            &:last-child{
                border-right: none;
            }
        }

        td{
            padding: 0 10px 0 20px;
            height: 58px;

            @media(max-width: 1200px) {
                height: 48px;    
            }
        }

        th{
            padding: 0 10px 0 20px;
            line-height: 14px;
            height: 38px;

            @media(max-width: 1200px) {
                height: 32px;    
            }
        }
    }
}

.without-label{
    .table-header{
        padding-top: 20px;
    }
}